.duty-view
{
	.vc-scroll{
	  height:250px;
	  position: absolute;
	  top: 323px;
	  left: 0;
	  right: 0;
	}
	.ot-scroll{
	  height:730px;
	  position: absolute;
	  top: 86px;
	  left: 0;
	  right: 0;
	}

}
